.Desk__main {
  background-color: black;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 100%;
  height: 100%;
  position: fixed;
  overflow-y: scroll;
}
.Desk__h1 {
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.Desk__hr {
  background-color: white;
  margin-top: 4rem;
  margin-right: 5rem;
  margin-left: 5rem;
}
.Desk__button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}
.Desk__container {
  height: 100vh;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
}
.carousel-container {
  width: 100%;
  margin-right: 5%;
}

.Desk__doctorName {
  color: #51b239;
  /* font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; */
  line-height: 3rem;
  font-weight: bold;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.Desk__textPara {
  margin-top: 31px;
  margin-right: 3rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;
}

a .Desk__link {
  color: #51b239 !important;
  font-size: 20px;
  font-weight: 600 !important;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  /* font-size: 20px; */
}
a .Desk__link:hover {
  color: #51b239 !important;
  font-size: 20px;
  font-weight: 600 !important;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  /* font-size: 20px; */
}
.Desk__doctorContainer {
  margin: 2%;
  width: 100%;
}
.Desk__doctorImage {
  position: relative;
  height: 20rem;
  border-radius: 20px;
}
.Desk__doctorContainer:hover {
  cursor: pointer;
}
.Desk__imageContainer {
  position: relative;
  max-width: 100%;
  /* margin: 0 auto; */
}
.Desk__doctorDesignation {
  position: absolute;
  bottom: 0;
  /* background: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.25);
  color: #f1f1f1;
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 22px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*desktop*/
@media screen and (min-width: 768px) {
  .Desk__linkDesktop {
    display: block;
  }
  .Desk__linkMobile {
    display: none;
  }
  .Desk__row {
    /* margin-top: auto;
    margin-bottom: auto; */
    display: flex;
    margin: auto;
    text-align: left;
  }
  .Desk__selectedDoctorImage {
    position: relative;
    height: 22rem;
    width: 17rem;
    margin-left: 169px;
    border-radius: 20px;
    margin-top: 21px;
  }
  .Desk__selectedDoctorDesignation {
    position: absolute;
    bottom: 0;
    /* background: rgb(0, 0, 0); */
    background: rgba(0, 0, 0, 0.25);
    color: #f1f1f1;
    width: 100%;
    margin-bottom: 0;
    margin-left: 169px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 22px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .react-multi-carousel-item {
    margin-right: 3rem;
    /* margin-left: 2rem; */
    /* padding-right: 20%; */
  }
  .Desk__closeButton {
    float: left;
  }
  .react-multi-carousel-list {
    margin-right: 140px !important;
    display: flex;
    align-items: center;
    overflow-x: scroll !important;
    position: relative;
    margin-top: 0 !important;
  }
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  .Desk__margin {
    margin-left: 7rem;
  }
  .Desk__marginR {
    margin-right: 7rem;
  }
  /* .container {
    margin-left: 3rem;
    margin-right: 2rem;
  } */
}
/*tablet*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .Desk__margin {
    margin-right: 5rem;
  }
}
/*mobile*/
@media screen and (max-width: 480px) {
  .Desk__linkDesktop {
    display: none;
  }

  .Desk__linkMobile {
    display: block;
    /* margin-bottom: 2rem; */
  }
  .Desk__textPara {
    margin-right: 0;
    margin-top: 20px;
    line-height: 19px;
    font-size: 13px;
    margin-bottom: 0;
  }
  .Desk__mobileMargin {
    margin-top: -90px;
  }
  .Desk__row {
    margin-top: 40px;
    text-align: left;
  }
  /* .mobileCarousel {
    margin-top: 2rem;
  } */
  .Desk__doctorImage {
    /* position: relative; */
    height: 16rem;
    width: 12rem;
    border-radius: 20px;
  }
  .Desk__doctorName {
    font-size: 15px;
  }
  .Desk__selectedDoctorImage {
    position: relative;
    height: 24rem;
    width: 18rem;
    border-radius: 20px;
    margin-top: 40px;
  }
  .Desk__selectedDoctorDesignation {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    color: #f1f1f1;
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 22px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .Desk__closeButton {
    float: right;
  }
  .Desk__h1 {
    margin: 0;
    display: inline-block;
  }
  .react-multi-carousel-list {
    margin-right: 0;
    display: flex;
    align-items: center;
    overflow-x: scroll !important;
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
}
