.container{
    margin-top: 100px;
    margin-left: 82px;
    margin-right: 48px;
}

.row1{
    margin-top: 50px;
    margin-right: 56px;
    text-align: left;
    align-items: center;
}
.navbar{
    margin-top: 62px;
    margin-bottom: 62px;
}
.row3{
    margin-top: 55px;
    text-align: start;
}
.row4{
    margin-top: 40px;
}
.carousel-container {
    width: 100%;
    margin-right: 5%;
  }

  .react-multi-carousel-item {
    margin-right: 3rem;
    margin-left: 3rem;

    /* padding-right: 20%; */
  }

.doctorName {
    color: darkblue;
    line-height: 3rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }

  .doctorContainer {
    margin: 2%;
    width: 100%;
  }
  .doctorImage {
    position: relative;
    width: 100%;
    height: 24rem;
  }
  
  .imageContainer {
    position: relative;
    max-width: 100%;
    /* margin: 0 auto; */
  }
  .container .doctorDesignation {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-size: 22px;
  }

  .react-multi-carousel-list {
    margin-right: 140px;
    display: flex;
    align-items: center;
    overflow: scroll !important;
    position: relative;
  }
  ::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  .hr1{
    width: 100%;
    border-top: 0.5px solid black;
}
.hr2{
  width: 30px;
  align-self: center;  
  border-top: 0.5px solid black;
}
.h2,h2{
    font-style: bold;
    color: darkblue;
    align-self: top;
}

.nav-container {
    margin: auto 0;
    overflow-x: scroll !important;
    /* word-wrap: break-word; */
    /* flex-wrap: wrap; */
  }
  .nav-style {
    font-size: 20px;
    margin-right: 5px;
    padding: 5px;
    color: rgb(146, 142, 142);
  }
  .nav-style:hover {
    color: black;
    font-size: 20px;
    font-weight: 600;
    transition: 0.3s all ease;
    cursor: pointer;
  }
  .active {
    color: black;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .nav-container {
    scrollbar-color: white;
  }

  @media screen and (max-width: 480px) {
    .illustrate{
        height: 369px;
        width: 289px;
    }
  }